{
  "openapi": "3.1.0",
  "info": {
    "title": "CLEARANCE Öppna API",
    "version": "1.0.0-beta",
    "description": "API-first: allt som går att göra i gränssnittet ska gå att göra via API. Kontraktet bygger på de fyra objekten (samtal, beslut, dokument, uppgifter) plus ärendet. INGEN MILJÖ ÄR DRIFTSATT ÄNNU: serveradresserna nedan svarar inte, och kontraktet är att läsa som en beställning. Statusmärkning per operation: `live` är implementerad och verifierad mot databasen, `beta` är kontrakt-först. API:t levererar strukturerad, spårbar ärendedata - aldrig automatiska bedömningar: mottagarens system drar sina egna slutsatser. Bakåtkompatibilitet inom v1: fält läggs till, aldrig bort.",
    "contact": {
      "name": "Landvex AB",
      "url": "https://clearance.se/kontakt"
    }
  },
  "servers": [
    {
      "url": "https://api.clearance.se/v1",
      "description": "Produktion (ej driftsatt)"
    },
    {
      "url": "https://sandbox.api.clearance.se/v1",
      "description": "Sandbox - demoadapterns datamodell (ej driftsatt)"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "session": []
    }
  ],
  "paths": {
    "/advisor/reply": {
      "post": {
        "operationId": "clearanceReply",
        "summary": "CLEARANCE:s svar i samtalet",
        "description": "Driver rådgivarsamtalet med en språkmodell. Kräver inloggning: varje anrop debiteras per token, och en öppen rutt vore någon annans körning på vår faktura. Klienten skickar det synliga samtalet (user/assistant) – aldrig en systemprompt. CLEARANCE:s konstitution (ton, gränser, en fråga i taget, högst tre rekommendationer, inga påhittade fakta) bor på servern och kan inte skrivas om från en klient. Svarets status skiljer på svar, ingen-kalla (ingen modellnyckel i driften) och fel (modellen svarade inte). Det här är vägledning i samtalet, inte de strukturerade objekt som resten av API:t levererar.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Hela det synliga samtalet, i tur och ordning. Måste sluta med ett meddelande från användaren.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CLEARANCE:s svar, eller varför det uteblev",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reply",
                        "model"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "svar"
                          ]
                        },
                        "reply": {
                          "type": "string"
                        },
                        "model": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reason"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ingen-kalla",
                            "fel"
                          ]
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "Dina API-nycklar: prefix och metadata, aldrig hemligheten. Bara den egna ägarens (radskyddet).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Nycklarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Skapa en API-nyckel (create_api_key: genereras och hashas i databasen). Hemligheten returneras EN gång och lagras aldrig.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Nyckeln skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "record",
                    "secret"
                  ],
                  "properties": {
                    "record": {
                      "type": "object"
                    },
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "description": "Nyckeln överlever sessionen som skapade den, så skapandet kräver lösenordet.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "password"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 80
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 400,
                    "description": "Kontots lösenord. Krävs för åtgärder som inte går att ångra: en session bevisar att någon loggade in en gång, inte att det är samma människa som sitter där nu."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{keyId}/revoke": {
      "post": {
        "operationId": "revokeApiKey",
        "summary": "Återkalla en nyckel. Idempotent; en återkallad nyckel förblir återkallad. Bara den egna nyckeln.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Återkallad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revoked"
                  ],
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Logga in och få en sessionstoken",
        "description": "Sessionstoken i utbyte mot e-post och lösenord. Token visas EN gång och lagras aldrig i klartext - databasen har bara SHA-256 av den. Fel lösenord och okänd adress ger samma svar och kostar samma tid; skillnaden vore en kontolista. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  },
                  "password": {
                    "type": "string",
                    "maxLength": 400
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "register",
        "summary": "Skapa ett konto",
        "description": "Skapar kontot och loggar in direkt - ingen e-postbekräftelse. Produkten används av någon vars bolag är i kris, och ett extra steg där är ett steg för mycket. Till skillnad från inloggningen röjer svaret att adressen finns: ett konto kan inte skapas två gånger. Priset betalas med takfrekvensen, som är inloggningens. Profilen (roll, namn) sätts separat i onboardingen. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 400
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/password-reset": {
      "post": {
        "operationId": "requestPasswordReset",
        "summary": "Begär en återställningslänk",
        "description": "Svaret är ALLTID detsamma, oavsett om adressen har ett konto. Skulle det skilja vore formuläret ett register över vilka bolag som är kunder i en insolvenstjänst. Finns kontot läggs ett mejl i utkorgen med en länk som lever en timme och kan användas en gång; en ny begäran makulerar den förra. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/password": {
      "post": {
        "operationId": "setPassword",
        "summary": "Sätt ett nytt lösenord",
        "description": "Två vägar in. MED POLETT ur återställningslänken: poletten är beviset, den lever en timme och brinner vid användning - ingen session krävs. INLOGGAD: skicka Authorization och currentPassword. Att vara inloggad räcker inte, för en session bevisar att någon loggade in en gång, inte att det är samma människa som sitter där nu. Båda vägarna återkallar ALLA sessioner för kontot.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "session": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "password"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 400
                  },
                  "token": {
                    "type": "string",
                    "description": "Poletten ur återställningslänken. Utelämnas när anropet är inloggat."
                  },
                  "currentPassword": {
                    "type": "string",
                    "maxLength": 400,
                    "description": "Nuvarande lösenord. Krävs när anropet är inloggat."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Återkalla den egna sessionen",
        "description": "Återkallar sessionen bakom den token som skickas med. Återkallningen är slutgiltig - en token som en gång är död blir aldrig levande igen.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "me",
        "summary": "Vem den aktuella sessionen tillhör",
        "description": "Kontot bakom token, med namn och roll ur profilen. Läses genom radskyddet som allt annat.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/accounts/{userId}/close": {
      "post": {
        "operationId": "closeBillingAccount",
        "summary": "Stäng ett konto vars faktura förfallit. Raderar ingenting - sätter closed_at. Behörighet i radskyddet.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Stängt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/company-plan": {
      "get": {
        "operationId": "getCompanyPlan",
        "summary": "Företagsplanens pris (exkl. moms). Driftparameter, publikt läsbar. Skrivs via /ops/company-plan.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Priset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "monthlyExVatSek": {
                      "type": "integer"
                    },
                    "businessExVatSek": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "enterpriseExVatSek": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "description": "Den publicerade prislistan. Öppen utan token: priset står på landningssidan, som möter utloggade besökare. Svaret bär bara prisfälten - rutten är ingen väg in i driftparametrarna i övrigt."
      }
    },
    "/billing/customers": {
      "get": {
        "operationId": "listBillingCustomers",
        "summary": "Driftens kundöversikt (profil, kontostatus, fakturor). Radskyddet ger en icke-admin bara de egna raderna.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Kunderna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices": {
      "get": {
        "operationId": "listMyInvoices",
        "summary": "Kundens egna fakturor och kvitton, nyast först (radskyddet ger bara de egna).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Fakturorna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "issueCustomerInvoice",
        "summary": "Ställ ut en kundfaktura",
        "description": "FAKTURANUMRET SÄTTS I DATABASEN. Förut räknades max + 1 fram i webbläsaren; två samtidiga utställanden läste samma max, och den obrutna serie Skatteverket kräver låg i händerna på en klient. Databasfunktionen tar seriens lås, prövar formkraven i 17 kap. 24 § mervärdesskattelagen och behörigheten.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId",
                  "description",
                  "netOre",
                  "vatOre",
                  "vatRate",
                  "dueAt",
                  "customerName",
                  "customerAddress"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "netOre": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "vatOre": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "vatRate": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1
                  },
                  "dueAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "customerName": {
                    "type": "string",
                    "maxLength": 300
                  },
                  "customerOrgNumber": {
                    "type": "string",
                    "maxLength": 20,
                    "nullable": true
                  },
                  "customerAddress": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "periodStart": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "periodEnd": {
                    "type": "string",
                    "format": "date",
                    "nullable": true
                  },
                  "recipientEmail": {
                    "type": "string",
                    "format": "email",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices/{invoiceId}/payment": {
      "post": {
        "operationId": "registerInvoicePayment",
        "summary": "Registrera en inbetalning",
        "description": "Skapar kvittonumret och ÖPPNAR KONTOT IGEN. Lämnas closed_at kvar hålls en betalande kund utelåst - det värsta felet i kedjan, eftersom den som betalat har all anledning att tro att saken är utagerad.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Fakturans id."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "paidAt"
                ],
                "properties": {
                  "paidAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "reference": {
                    "type": "string",
                    "maxLength": 200,
                    "nullable": true
                  },
                  "recipientEmail": {
                    "type": "string",
                    "format": "email",
                    "nullable": true,
                    "description": "Vart kvittot mejlas. Null = ingen adress känd; kvittot finns ändå i inloggningen."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/mine": {
      "get": {
        "operationId": "getMyBilling",
        "summary": "Den inloggades kontostatus. Skapas lat vid första anropet - gratisveckan börjar när kontot används.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Kontostatus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/outbox": {
      "get": {
        "operationId": "listBillingOutbox",
        "summary": "Utkorgen (senaste 100), för drift: ett mejl som inte gått fram ska synas för en människa.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Utkorgen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/outbox/{emailId}/retry": {
      "post": {
        "operationId": "retryOutboundEmail",
        "summary": "Köa om ett misslyckat utskick. Endast drift; skickade rader rörs aldrig.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Köat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queued": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases": {
      "get": {
        "operationId": "listCases",
        "summary": "Lista ärenden kontot har åtkomst till",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCase",
        "summary": "Skapa ett ärende",
        "description": "user_id sätts av SERVERN ur sessionen, aldrig ur kroppen - annars kunde en inloggad skapa ett ärende i någon annans namn. Ett TOMT anrop ger ett minimalt ärende: handlingsplanen behöver någonstans att bo redan innan användaren fyllt i något.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [],
                "properties": {
                  "orgNumber": {
                    "type": "string",
                    "maxLength": 20
                  },
                  "companyName": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "employees": {
                    "type": "integer",
                    "nullable": true
                  },
                  "canPaySalary": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "salaryAmount": {
                    "type": "number",
                    "nullable": true
                  },
                  "salaryDay": {
                    "type": "integer",
                    "nullable": true
                  },
                  "canPayTax": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "taxAmount": {
                    "type": "number",
                    "nullable": true
                  },
                  "taxDay": {
                    "type": "integer",
                    "nullable": true
                  },
                  "canPayRent": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "rentAmount": {
                    "type": "number",
                    "nullable": true
                  },
                  "rentDay": {
                    "type": "integer",
                    "nullable": true
                  },
                  "canPaySuppliers": {
                    "type": "boolean",
                    "nullable": true
                  },
                  "totalDebt": {
                    "type": "number",
                    "nullable": true
                  },
                  "quickLiquidationValue": {
                    "type": "number",
                    "nullable": true
                  },
                  "recommendationType": {
                    "type": "string",
                    "maxLength": 60
                  },
                  "recommendationTitle": {
                    "type": "string",
                    "maxLength": 300
                  },
                  "recommendationDescription": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "recommendationReasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 50
                  },
                  "recommendationNextSteps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 50
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company-lookup": {
      "post": {
        "operationId": "companyLookup",
        "summary": "Slå upp ett bolag på organisationsnummer",
        "description": "KRÄVER INLOGGNING, trots att uppgifterna är offentliga: rutten hämtar en extern sida på anroparens vägnar, och en öppen sådan är en proxy vem som helst kan låna. Numret måste vara exakt tio siffror - då finns ingen adress att styra om anropet till. Ett null-svar är giltigt: registret har inte alla bolag.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "orgNumber"
                ],
                "properties": {
                  "orgNumber": {
                    "type": "string",
                    "maxLength": 20,
                    "description": "Tio siffror, med eller utan bindestreck."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}": {
      "parameters": [
        {
          "name": "caseId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCase",
        "summary": "Hämta ärendets nuläge",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCase",
        "summary": "Uppdatera registrerade uppgifter",
        "x-status": "planerad",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PLANERAD: egna API:t svarar 405 i dag. Ändringen går genom bryggan; fältlistan här är bredare än det egna servern tar emot."
      }
    },
    "/cases/{caseId}/close": {
      "post": {
        "operationId": "closeCase",
        "summary": "Avsluta krisfasen med orsak (stabiliserad, rekonstruktion genomförd, konkurs, likvidation, annat). Ingenting raderas - akten består.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "maxLength": 40,
                    "description": "Exitorsaken. Ett avslut utan orsak är ett avslut ingen kan lära sig av."
                  },
                  "note": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "enterHealth": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/conversations": {
      "get": {
        "operationId": "listConversations",
        "summary": "Trådarna i ärendet med sina deltagare. Radskyddet avgör vilka som syns.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Trådarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "conversations"
                  ],
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createConversation",
        "summary": "Skapa en direkt- eller grupptråd. Skaparen läggs alltid till som deltagare - en tråd man inte själv deltar i går inte att läsa efteråt.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "kind"
                ],
                "properties": {
                  "kind": {
                    "type": "string",
                    "enum": [
                      "direct",
                      "group"
                    ]
                  },
                  "otherUserId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Krävs för kind=direct."
                  },
                  "title": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 120,
                    "description": "Krävs för kind=group."
                  },
                  "participantUserIds": {
                    "type": "array",
                    "maxItems": 50,
                    "items": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tråden skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/decisions": {
      "get": {
        "operationId": "listDecisions",
        "summary": "Beslutsminnet: protokollförda beslut med premiss",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "recordDecision",
        "summary": "Protokollför beslut med premiss och mätbart villkor",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title",
                  "rationale"
                ],
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "rationale": {
                    "type": "string",
                    "maxLength": 4000
                  },
                  "premise": {
                    "type": "string",
                    "maxLength": 2000,
                    "nullable": true,
                    "description": "Antagandet beslutet vilar på, i klartext."
                  },
                  "watch": {
                    "type": "object",
                    "nullable": true,
                    "description": "Mätbart villkor som bevakas. Prövas både här och i databasen.",
                    "required": [
                      "signal",
                      "comparator"
                    ],
                    "properties": {
                      "signal": {
                        "type": "string"
                      },
                      "comparator": {
                        "type": "string",
                        "enum": [
                          "minst",
                          "hogst",
                          "sant",
                          "falskt"
                        ]
                      },
                      "threshold": {
                        "type": "number",
                        "nullable": true,
                        "description": "Krävs för minst/högst, får inte finnas för ja/nej-villkor."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "Dokumenten med granskningsstatus",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "startDocumentUpload",
        "summary": "Steg 1: servern väljer lagringssökvägen och signerar en kortlivad PUT-URL. Klienten kan bara skriva till det egna ärendets prefix. Raden skapas obekräftad och syns inte förrän steg 2 godkänt innehållet.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Uppladdningen påbörjad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "documentId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "uploadUrl": {
                      "type": "string"
                    },
                    "expiresInSeconds": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileName",
                  "fileSize"
                ],
                "properties": {
                  "fileName": {
                    "type": "string",
                    "maxLength": 300
                  },
                  "fileSize": {
                    "type": "integer",
                    "minimum": 1,
                    "description": "Uppgiven storlek i byte. Den riktiga prövningen sker när filen bekräftas."
                  },
                  "mimeType": {
                    "type": "string",
                    "maxLength": 200,
                    "description": "Utelämnad blir den application/octet-stream."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/financial/sie": {
      "post": {
        "operationId": "importSie",
        "summary": "Läs in en SIE-fil som ärendets lägesbild. Filen tolkas PÅ SERVERN - lägesbilden är underlag för beslut om rekonstruktion och konkurs, och ett underlag klienten sätter ihop är ett underlag klienten kan skriva vad som helst i.",
        "description": "capturedAt sätts av servern; en tidpunkt klienten väljer hade gjort det möjligt att backdatera en lägesbild. Svaret bär även gaps - det som INTE gick att läsa ur filen. En lucka är inte en nolla.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fileName",
                  "content"
                ],
                "properties": {
                  "fileName": {
                    "type": "string",
                    "maxLength": 260
                  },
                  "content": {
                    "type": "string",
                    "description": "Filens bytes, base64-kodade. Högst 25 MB avkodat."
                  },
                  "sourceDocumentId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Uppladdningen filen kom ur, när den finns."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lägesbilden sparad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "capturedAt",
                    "snapshot"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "capturedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "snapshot": {
                      "type": "object"
                    },
                    "skippedLines": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/financial/snapshot": {
      "get": {
        "operationId": "getLatestFinancialSnapshot",
        "summary": "Senaste lägesbilden ur bokföringen, eller null.",
        "description": "null betyder \"vi har inte läst något\", inte \"det finns inget\". Gränssnittet skiljer på de två - en tom balansräkning läses som \"du är skuldfri\".",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Lägesbilden, eller null",
            "content": {
              "application/json": {
                "schema": {
                  "type": [
                    "object",
                    "null"
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/invitations": {
      "get": {
        "operationId": "listCaseInvitations",
        "summary": "Ärendets inbjudningar, nyast först. Läsbar för ärendets medlemmar via radskyddet.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Inbjudningarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitations"
                  ],
                  "properties": {
                    "invitations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "inviteToCase",
        "summary": "Bjud in en adress till ärendet. Kräver owner/reconstructor/trustee (prövas i databasen). 'owner'/'creditor' delas inte ut per mejl.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Inbjudan skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitationId"
                  ],
                  "properties": {
                    "invitationId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "maxLength": 320
                  },
                  "role": {
                    "type": "string",
                    "maxLength": 40
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/invoices": {
      "get": {
        "operationId": "listInvoices",
        "summary": "Fakturorna i ärendet, in och ut. Datumen är DATE - yyyy-MM-dd, aldrig tidsstämplar.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Fakturorna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invoices"
                  ],
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createInvoices",
        "summary": "Skriv fakturor i ärendet. user_id tas ur sessionen och case_id ur sökvägen.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rows"
                ],
                "properties": {
                  "rows": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "type": "object",
                      "required": [
                        "label",
                        "amount",
                        "direction",
                        "status",
                        "issueDate",
                        "dueDate"
                      ],
                      "properties": {
                        "label": {
                          "type": "string",
                          "maxLength": 300
                        },
                        "amount": {
                          "type": "number",
                          "minimum": 0
                        },
                        "direction": {
                          "type": "string",
                          "enum": [
                            "in",
                            "out"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "unpaid",
                            "paid",
                            "overdue"
                          ]
                        },
                        "issueDate": {
                          "type": "string",
                          "format": "date",
                          "description": "yyyy-MM-dd. Ett DATUM, inte en tidsstämpel."
                        },
                        "dueDate": {
                          "type": "string",
                          "format": "date",
                          "description": "yyyy-MM-dd. Ett DATUM, inte en tidsstämpel."
                        },
                        "counterpart": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "maxLength": 200
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fakturorna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invoices"
                  ],
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/journal": {
      "get": {
        "operationId": "listJournal",
        "summary": "Arbetsloggen: append-only-journalen, filtrerbar på objekttyp och tidsintervall, exporterbar",
        "x-status": "live",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "description": "LIVE: autentiseras med API-nyckel (Authorization: Bearer clr_...). Nyckeln ser exakt det ägarens konto ser. Okänd eller återkallad nyckel och ärenden utan åtkomst får samma tystnad. Journalen levereras som händelserader - utan before/after-ögonblicksbilder och aldrig automatiska bedömningar."
      }
    },
    "/cases/{caseId}/kbr": {
      "get": {
        "operationId": "getKbr",
        "summary": "Senaste kontrollbalansbedömningen",
        "description": "Svarar med null när ingen bedömning är gjord - det är ett giltigt svar om ärendet och inte ett fel, så 404 vore fel signal.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createKbrAssessment",
        "summary": "Spara en kontrollbalansbedömning PÅ ärendet. Ärendet står i sökvägen: radskyddet är can_write_case(case_id), och en bedömning utan ärende går inte att skriva.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "shareCapital",
                  "totalAssets",
                  "totalLiabilities",
                  "status"
                ],
                "properties": {
                  "orgNumber": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 20
                  },
                  "companyName": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 200
                  },
                  "ambitionLevel": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 40
                  },
                  "hasRelatedCompanies": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "isPartOfLargerStructure": {
                    "type": [
                      "boolean",
                      "null"
                    ]
                  },
                  "shareCapital": {
                    "type": "number",
                    "minimum": 0
                  },
                  "totalAssets": {
                    "type": "number",
                    "minimum": 0
                  },
                  "totalLiabilities": {
                    "type": "number",
                    "minimum": 0
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "not_required",
                      "warning",
                      "required",
                      "critical"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bedömningen sparad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/members": {
      "get": {
        "operationId": "listCaseMembers",
        "summary": "Ärendets deltagare. list_case_members prövar has_case_access - den som inte tillhör ärendet får noll rader.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Deltagarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "members"
                  ],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "Grundtrådens meddelanden i ärendet",
        "description": "Bara grundtråden (meddelanden utan tråd-id). Trådade meddelanden hämtas per tråd, och synligheten avgörs av radskyddet - inte av ett filter i API:t.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Skicka ett meddelande. Författaren sätts av servern ur den prövade sessionen, aldrig ur kroppen.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 8000
                  },
                  "conversationId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "null = grundtråden som alla medlemmar ser."
                  },
                  "attachmentDocumentId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid"
                  },
                  "expectsReplyFrom": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "uuid",
                    "description": "Den som förväntas svara. Notisen släcks av personens kvittens."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skickat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/notes": {
      "get": {
        "operationId": "listCaseNotes",
        "summary": "Interna anteckningar i ärendet. Synliga endast för författaren (radskyddet) - inte för bolaget eller andra deltagare.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Anteckningarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "notes"
                  ],
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCaseNote",
        "summary": "Lägg en intern anteckning. Författaren sätts av servern; kräver aktivt deltagande i ärendet.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Anteckning skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "noteId"
                  ],
                  "properties": {
                    "noteId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "maxLength": 4000
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "Betalningarna i ärendet, med förfallodag",
        "description": "Sorterade på förfallodag. Ett ärende utan åtkomst ger en TOM lista, inte ett fel - samma tystnad som resten av API:t, så svaret inte går att använda för att kartlägga vilka ärenden som finns.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createPayments",
        "summary": "Skriv betalningar i ärendet. user_id tas ur sessionen och case_id ur sökvägen - inget av dem läses ur kroppen.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "rows"
                ],
                "properties": {
                  "rows": {
                    "type": "array",
                    "maxItems": 200,
                    "items": {
                      "type": "object",
                      "required": [
                        "label",
                        "amount",
                        "category",
                        "status",
                        "dueDate"
                      ],
                      "properties": {
                        "label": {
                          "type": "string",
                          "maxLength": 300
                        },
                        "amount": {
                          "type": "number",
                          "minimum": 0
                        },
                        "category": {
                          "type": "string",
                          "enum": [
                            "salary",
                            "tax",
                            "rent",
                            "supplier",
                            "loan",
                            "other"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "paid",
                            "overdue"
                          ]
                        },
                        "dueDate": {
                          "type": "string",
                          "format": "date",
                          "description": "yyyy-MM-dd. Ett DATUM, inte en tidsstämpel."
                        },
                        "recurring": {
                          "type": "boolean",
                          "default": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Betalningarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "payments"
                  ],
                  "properties": {
                    "payments": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/plan-approval": {
      "post": {
        "operationId": "setPlanApproval",
        "summary": "Rådgivarens stämpel på handlingsplanen",
        "description": "Endast en rådgivarroll i ärendet kan sätta eller återta den. Regeln prövas i databasfunktionen, aldrig i anroparen - ett API som gör sin egen bedömning vid sidan om blir en andra sanning som glider isär från den första.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "approved"
                ],
                "properties": {
                  "approved": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stämpeln satt eller återtagen"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/reopen": {
      "post": {
        "operationId": "reopenCase",
        "summary": "Tillbaka till krisläget",
        "description": "Från avslut eller hälsoläge. Ingenting raderades vid avslutet - akten består - så återöppningen återställer läget utan att återskapa något.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Återöppnat"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/report": {
      "get": {
        "operationId": "getReport",
        "summary": "Rapporten ur samma datamodell, som JSON eller PDF",
        "x-status": "planerad",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf"
              ]
            }
          }
        ],
        "description": "PLANERAD: egna API:t svarar inte på den här ännu. Rapporten renderar en PDF, vilket kräver dokumenthinken och signeringen."
      }
    },
    "/cases/{caseId}/sessions": {
      "get": {
        "operationId": "listAdvisorSessions",
        "summary": "Rådgivarsamtalen i ärendet (journal). Läses av alla med ärendeåtkomst; observatörer läser men skriver inte.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Samtalen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessions"
                  ],
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveAdvisorSession",
        "summary": "Spara ett samtal (upsert på samtalets id). Kräver skrivrätt i ärendet (can_write_case).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "saved",
                    "sessionId"
                  ],
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    },
                    "sessionId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "flowId",
                  "flowTitle",
                  "startedAt"
                ],
                "properties": {
                  "flowId": {
                    "type": "string",
                    "maxLength": 40
                  },
                  "flowTitle": {
                    "type": "string",
                    "maxLength": 120
                  },
                  "startedAt": {
                    "type": "string",
                    "format": "date-time",
                    "maxLength": 40
                  },
                  "closedAt": {
                    "type": "string",
                    "format": "date-time",
                    "maxLength": 40,
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/share-links": {
      "get": {
        "operationId": "listShareLinks",
        "summary": "Ärendets live-länkar med åtkomsträkning",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createShareLink",
        "summary": "Skapa live-länk (nivå overview/full, tidsbegränsad, återkallbar)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "scope",
                  "validDays"
                ],
                "properties": {
                  "scope": {
                    "type": "string",
                    "enum": [
                      "overview",
                      "full"
                    ]
                  },
                  "validDays": {
                    "type": "number",
                    "description": "Kläms till 1-365 dagar. En länk utan bortre gräns är en läcka ingen minns."
                  },
                  "label": {
                    "type": "string",
                    "maxLength": 120,
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/simulations": {
      "get": {
        "operationId": "listSimulations",
        "summary": "Ärendets simuleringar (antagandena, inte körningarna).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Simuleringarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "simulations"
                  ],
                  "properties": {
                    "simulations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createSimulation",
        "summary": "Spara en uppsättning antaganden. Specen prövas redan här - en sparad modell som inte går att köra är en fälla för nästa person.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "spec"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 2000
                  },
                  "spec": {
                    "type": "object",
                    "required": [
                      "inputs",
                      "outputs"
                    ],
                    "description": "Antagandena. inputs bär fördelningar, outputs bär uttryck som räknas i ordning.",
                    "properties": {
                      "inputs": {
                        "type": "array",
                        "maxItems": 50,
                        "items": {
                          "type": "object",
                          "required": [
                            "namn",
                            "fordelning"
                          ],
                          "properties": {
                            "namn": {
                              "type": "string",
                              "description": "Variabelnamnet som används i uttrycken."
                            },
                            "etikett": {
                              "type": "string"
                            },
                            "enhet": {
                              "type": "string"
                            },
                            "kalla": {
                              "type": "string"
                            },
                            "tilltro": {
                              "type": "string",
                              "enum": [
                                "hog",
                                "medel",
                                "lag"
                              ]
                            },
                            "beskrivning": {
                              "type": "string"
                            },
                            "fordelning": {
                              "type": "object",
                              "required": [
                                "typ",
                                "parametrar"
                              ],
                              "properties": {
                                "typ": {
                                  "type": "string",
                                  "enum": [
                                    "normal",
                                    "lognormal",
                                    "uniform",
                                    "triangular",
                                    "beta",
                                    "exponential",
                                    "poisson",
                                    "bernoulli",
                                    "binomial",
                                    "discrete",
                                    "custom"
                                  ]
                                },
                                "parametrar": {
                                  "type": "object",
                                  "additionalProperties": {
                                    "type": "number"
                                  }
                                },
                                "punkter": {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "varde",
                                      "vikt"
                                    ],
                                    "properties": {
                                      "varde": {
                                        "type": "number"
                                      },
                                      "vikt": {
                                        "type": "number"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "outputs": {
                        "type": "array",
                        "maxItems": 20,
                        "items": {
                          "type": "object",
                          "required": [
                            "namn",
                            "uttryck"
                          ],
                          "properties": {
                            "namn": {
                              "type": "string"
                            },
                            "etikett": {
                              "type": "string"
                            },
                            "enhet": {
                              "type": "string"
                            },
                            "uttryck": {
                              "type": "string",
                              "description": "Uttryck i motorns egna språk. Ingen eval - se src/lib/montecarlo/uttryck.ts."
                            },
                            "mal": {
                              "type": [
                                "number",
                                "null"
                              ]
                            },
                            "kritiskGrans": {
                              "type": [
                                "number",
                                "null"
                              ]
                            }
                          }
                        }
                      },
                      "konstanter": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "number"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "Uppgifterna i handlingsplanen",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTasks",
        "summary": "Bocka av eller delegera uppgifter",
        "x-status": "planerad",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "PLANERAD: egna API:t svarar 405 i dag. Använd POST /tasks/{taskId}/done och POST /tasks/{taskId}/assign så länge."
      },
      "post": {
        "operationId": "addTask",
        "summary": "Lägg till en uppgift i handlingsplanen. Avbockningens tidpunkt sätts av servern, inte av klienten.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "maxLength": 300
                  },
                  "dueDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Uppgiften skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/tasks/seed": {
      "post": {
        "operationId": "seedCaseTasks",
        "summary": "Så rekommendationernas uppgifter i ärendet. Idempotent - on conflict do nothing mot (case_id, label), så samtidiga anrop ger en lista.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Antal sådda etiketter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seeded": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "labels"
                ],
                "properties": {
                  "labels": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Etiketterna som sås. Dubbletter mot (case_id, label) hoppas över: två flikar som sår samtidigt ger EN lista, inte två."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/time-entries": {
      "get": {
        "operationId": "listTimeEntries",
        "summary": "Nedlagd tid i ärendet. Var och en ser bara sina egna poster (radskyddet).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Tidsposterna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entries"
                  ],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "logTimeEntry",
        "summary": "Registrera nedlagd tid (minuter 1-1440, valfri anteckning och datum). Personen sätts av servern; kräver aktivt deltagande.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Tidspost skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entryId"
                  ],
                  "properties": {
                    "entryId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "minutes"
                ],
                "properties": {
                  "minutes": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 1440
                  },
                  "note": {
                    "type": "string",
                    "maxLength": 500,
                    "nullable": true
                  },
                  "occurredOn": {
                    "type": "string",
                    "format": "date",
                    "nullable": true,
                    "description": "ÅÅÅÅ-MM-DD. Utelämnat bokförs posten på idag."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "operationId": "submitContactMessage",
        "summary": "Skicka ett meddelande från kontaktformuläret. Får ske utan inloggning; status, avsändarens konto och handläggare sätts av servern, aldrig av klienten.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Mottaget",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submitted"
                  ],
                  "properties": {
                    "submitted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
[...]
