{
  "openapi": "3.1.0",
  "info": {
    "title": "CLEARANCE Öppna API",
    "version": "1.0.0-beta",
    "description": "API-first: allt som går att göra i gränssnittet ska gå att göra via API. Kontraktet bygger på de fyra objekten (samtal, beslut, dokument, uppgifter) plus ärendet. INGEN MILJÖ ÄR DRIFTSATT ÄNNU: serveradresserna nedan svarar inte, och kontraktet är att läsa som en beställning. Statusmärkning per operation: `live` är implementerad och verifierad mot databasen, `beta` är kontrakt-först. API:t levererar strukturerad, spårbar ärendedata - aldrig automatiska bedömningar: mottagarens system drar sina egna slutsatser. Bakåtkompatibilitet inom v1: fält läggs till, aldrig bort.",
    "contact": {
      "name": "Landvex AB",
      "url": "https://clearance.se/kontakt"
    }
  },
  "servers": [
    {
      "url": "https://api.clearance.se/v1",
      "description": "Produktion (ej driftsatt)"
    },
    {
      "url": "https://sandbox.api.clearance.se/v1",
      "description": "Sandbox - demoadapterns datamodell (ej driftsatt)"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "session": []
    }
  ],
  "paths": {
    "/cases": {
      "get": {
        "operationId": "listCases",
        "summary": "Lista ärenden kontot har åtkomst till",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCase",
        "summary": "Skapa ärende (motsvarar nulägesanalysens registrering)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}": {
      "parameters": [
        {
          "name": "caseId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCase",
        "summary": "Hämta ärendets nuläge",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCase",
        "summary": "Uppdatera registrerade uppgifter",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/close": {
      "post": {
        "operationId": "closeCase",
        "summary": "Avsluta krisfasen med orsak (stabiliserad, rekonstruktion genomförd, konkurs, likvidation, annat). Ingenting raderas - akten består.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/journal": {
      "get": {
        "operationId": "listJournal",
        "summary": "Arbetsloggen: append-only-journalen, filtrerbar på objekttyp och tidsintervall, exporterbar",
        "x-status": "live",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "description": "LIVE: autentiseras med API-nyckel (Authorization: Bearer clr_...). Nyckeln ser exakt det ägarens konto ser. Okänd eller återkallad nyckel och ärenden utan åtkomst får samma tystnad. Journalen levereras som händelserader - utan before/after-ögonblicksbilder och aldrig automatiska bedömningar."
      }
    },
    "/cases/{caseId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "Dokumenten med granskningsstatus",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadDocument",
        "summary": "Ladda upp dokument till akten",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}/url": {
      "get": {
        "operationId": "getDocumentDownloadUrl",
        "summary": "En kortlivad, signerad nedladdnings-URL. Signeras bara efter app.may_read_document(); storage_path lämnar aldrig servern. Okänt och obehörigt dokument ger samma 404.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Den signerade URL:en",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url",
                    "expiresInSeconds"
                  ],
                  "properties": {
                    "url": {
                      "type": "string"
                    },
                    "fileName": {
                      "type": "string"
                    },
                    "expiresInSeconds": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}/review": {
      "post": {
        "operationId": "setDocumentReview",
        "summary": "Granskningsövergång: request/approve/reset. Godkännande kräver rådgivarroll - prövas i backend.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/decisions": {
      "get": {
        "operationId": "listDecisions",
        "summary": "Beslutsminnet: protokollförda beslut med premiss",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "recordDecision",
        "summary": "Protokollför beslut med premiss och mätbart villkor",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/decisions/{decisionId}/reconsider": {
      "post": {
        "operationId": "reconsiderDecision",
        "summary": "Ompröva - aldrig ändra: en stämplad markering ovanpå, originalet står kvar",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "Uppgifterna i handlingsplanen",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTasks",
        "summary": "Bocka av eller delegera uppgifter",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/report": {
      "get": {
        "operationId": "getReport",
        "summary": "Rapporten ur samma datamodell, som JSON eller PDF",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf"
              ]
            }
          }
        ]
      }
    },
    "/cases/{caseId}/share-links": {
      "get": {
        "operationId": "listShareLinks",
        "summary": "Ärendets live-länkar med åtkomsträkning",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createShareLink",
        "summary": "Skapa live-länk (nivå overview/full, tidsbegränsad, återkallbar)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/share-links/{linkId}": {
      "delete": {
        "operationId": "revokeShareLink",
        "summary": "Återkalla live-länken - omedelbar verkan",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shared/{token}": {
      "get": {
        "operationId": "getSharedCase",
        "summary": "Live-ärendelänkens maskinläsbara nuläge. Publik: skyddet är tidsgräns, återkallbarhet och åtkomstlogg. Samma tystnad för okända, utgångna och återkallade länkar.",
        "x-status": "live",
        "responses": {
          "200": {
            "description": "Ärendets nuläge, scopat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedCaseView"
                }
              }
            }
          },
          "404": {
            "description": "Okänd, utgången eller återkallad länk - samma tystnad"
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/decisions/{decisionId}/acknowledge-premise": {
      "post": {
        "operationId": "acknowledgePremise",
        "summary": "Beslutet står fast trots motsagt villkor - kvitteras mot observationen och journalförs",
        "description": "Tystar inte bevakningen för gott: kvitteringen gäller den observation som angavs, så frågan kommer tillbaka när läget ändras igen. Själva utvärderingen av villkoret görs av mottagaren - API:t levererar villkoret och siffrorna, aldrig en färdig bedömning.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Logga in och få en sessionstoken",
        "description": "Sessionstoken i utbyte mot e-post och lösenord. Token visas EN gång och lagras aldrig i klartext - databasen har bara SHA-256 av den. Fel lösenord och okänd adress ger samma svar och kostar samma tid; skillnaden vore en kontolista. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Återkalla den egna sessionen",
        "description": "Återkallar sessionen bakom den token som skickas med. Återkallningen är slutgiltig - en token som en gång är död blir aldrig levande igen.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "me",
        "summary": "Vem den aktuella sessionen tillhör",
        "description": "Kontot bakom token, med namn och roll ur profilen. Läses genom radskyddet som allt annat.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Tjänstens status",
        "description": "Svarar utan att röra databasen. Finns för lastbalanserarens hälsokontroll, inte för integrationer. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/cases/{caseId}/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "Betalningarna i ärendet, med förfallodag",
        "description": "Sorterade på förfallodag. Ett ärende utan åtkomst ger en TOM lista, inte ett fel - samma tystnad som resten av API:t, så svaret inte går att använda för att kartlägga vilka ärenden som finns.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "Grundtrådens meddelanden i ärendet",
        "description": "Bara grundtråden (meddelanden utan tråd-id). Trådade meddelanden hämtas per tråd, och synligheten avgörs av radskyddet - inte av ett filter i API:t.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/kbr": {
      "get": {
        "operationId": "getKbr",
        "summary": "Senaste kontrollbalansbedömningen",
        "description": "Svarar med null när ingen bedömning är gjord - det är ett giltigt svar om ärendet och inte ett fel, så 404 vore fel signal.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sources/google": {
      "post": {
        "operationId": "lookupCompanyAtGoogle",
        "summary": "Slår upp bolaget hos Google",
        "description": "Hämtar webbadress, besöksadress, telefon, omdömen och verksamhetsstatus ur Google Places. Ger ALDRIG organisationsnummer, styrelse, F-skatt eller momsregistrering – Places känner till platser och verksamheter, inte juridiska personer. Kräver inloggning trots att uppgifterna är offentliga: Places debiteras per anrop, och en öppen rutt är någon annans trafik på vår faktura. Svarets status skiljer på traff, ingen-traff (bolaget kunde inte matchas entydigt), ingen-kalla (ingen nyckel i driften) och fel (Google svarade inte). De fyra får inte slås ihop – ett driftfel som ser ut som ingen-traff blir ett påstående om bolaget.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "companyName"
                ],
                "properties": {
                  "companyName": {
                    "type": "string",
                    "description": "Bolagets namn. Matchas exakt efter att bolagsformen skalats bort."
                  },
                  "ort": {
                    "type": "string",
                    "description": "Ort, när den är känd. Enda sättet att skilja två likadana namn åt."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utfallet av uppslaget",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "facts"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "traff"
                          ]
                        },
                        "facts": {
                          "$ref": "#/components/schemas/GoogleFacts"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reason"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ingen-traff",
                            "ingen-kalla",
                            "fel"
                          ]
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sources/website": {
      "post": {
        "operationId": "fetchCompanyWebsite",
        "summary": "Hämtar och läser bolagets egen webbplats",
        "description": "Hämtar bolagets egen publika webbplats och läser ut det som går att stå för: beskrivning, namn, egna kontaktvägar och länkade sociala konton. Ingenting gissas, och namngivna personers uppgifter plockas aldrig ut. Robots.txt frågas först – tillåter den inte hämtning blir svaret forbjuden i stället för ett tyst tomt resultat. Kräver inloggning trots att sidan är publik: en öppen rutt som hämtar en URL åt vem som helst vore en öppen proxy, och servern vägrar dessutom adresser som pekar på interna, loopback- eller länklokala nät. Svarets status skiljer på traff, forbjuden (robots säger nej), ingen-traff (sidan gick att hämta men bar inget användbart) och fel (adressen gick inte att nå). De fyra får inte slås ihop.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "url"
                ],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "Bolagets webbadress (http eller https). Interna, loopback- och länklokala adresser vägras."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utfallet av hämtningen",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "facts",
                        "note"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "traff"
                          ]
                        },
                        "facts": {
                          "$ref": "#/components/schemas/WebsiteFacts"
                        },
                        "note": {
                          "type": "string",
                          "description": "Läsbar sammanfattning av vad som hittades."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reason"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "forbjuden",
                            "ingen-traff",
                            "fel"
                          ]
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/advisor/reply": {
      "post": {
        "operationId": "clearanceReply",
        "summary": "CLEARANCE:s svar i samtalet",
        "description": "Driver rådgivarsamtalet med en språkmodell. Kräver inloggning: varje anrop debiteras per token, och en öppen rutt vore någon annans körning på vår faktura. Klienten skickar det synliga samtalet (user/assistant) – aldrig en systemprompt. CLEARANCE:s konstitution (ton, gränser, en fråga i taget, högst tre rekommendationer, inga påhittade fakta) bor på servern och kan inte skrivas om från en klient. Svarets status skiljer på svar, ingen-kalla (ingen modellnyckel i driften) och fel (modellen svarade inte). Det här är vägledning i samtalet, inte de strukturerade objekt som resten av API:t levererar.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "messages"
                ],
                "properties": {
                  "messages": {
                    "type": "array",
                    "description": "Hela det synliga samtalet, i tur och ordning. Måste sluta med ett meddelande från användaren.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "CLEARANCE:s svar, eller varför det uteblev",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reply",
                        "model"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "svar"
                          ]
                        },
                        "reply": {
                          "type": "string"
                        },
                        "model": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reason"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ingen-kalla",
                            "fel"
                          ]
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}/done": {
      "post": {
        "operationId": "setTaskDone",
        "summary": "Bockar av en uppgift, eller ångrar avbockningen",
        "description": "Tidpunkten sätts av servern, aldrig av anroparen: en tidsstämpel som den som bockar av får välja är inte bevis på när något gjordes. Vem och när sätts tillsammans - ett halvt svar på vem gjorde vad när är inget svar.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "done"
                ],
                "properties": {
                  "done": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uppgiften efter ändringen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}/assign": {
      "post": {
        "operationId": "assignTask",
        "summary": "Tilldelar en uppgift, eller tar bort tilldelningen",
        "description": "userId satt till null tar bort tilldelningen. Uppgiften måste tillhöra ett ärende anroparen har tillgång till; radskyddet avgör det, inte handlern.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uppgiften efter ändringen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/profile": {
      "get": {
        "operationId": "getMyProfile",
        "summary": "Den inloggades profil",
        "description": "Svarar 200 med profile: null när profilen inte skapats ännu. Det är ett giltigt läge - profilen skapas vid första inloggningen - och ett 404 hade fått klienten att tro att något gått sönder.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Profilen, eller null",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "profile": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/UserProfile"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createMyProfile",
        "summary": "Skapar profilen vid första inloggningen",
        "description": "Rollen väljs EN gång. En företagare som vill bli rådgivare går genom ansökan, inte genom att posta om sin profil - därför sätter bara den här operationen role, och PATCH rör den aldrig. Anropet är idempotent: en profil som redan finns returneras oförändrad.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "role"
                ],
                "properties": {
                  "role": {
                    "type": "string",
                    "enum": [
                      "company",
                      "advisor",
                      "admin"
                    ]
                  },
                  "displayName": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Profilen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfile"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateMyProfile",
        "summary": "Uppdaterar namn och telefon",
        "description": "Rollen går inte att ändra här; se createMyProfile.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "displayName": {
                    "type": [
                      "string",
                      "null"
                    ]
                  },
                  "phone": {
                    "type": [
                      "string",
                      "null"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uppdaterad"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/reopen": {
      "post": {
        "operationId": "reopenCase",
        "summary": "Tillbaka till krisläget",
        "description": "Från avslut eller hälsoläge. Ingenting raderades vid avslutet - akten består - så återöppningen återställer läget utan att återskapa något.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Återöppnat"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/plan-approval": {
      "post": {
        "operationId": "setPlanApproval",
        "summary": "Rådgivarens stämpel på handlingsplanen",
        "description": "Endast en rådgivarroll i ärendet kan sätta eller återta den. Regeln prövas i databasfunktionen, aldrig i anroparen - ett API som gör sin egen bedömning vid sidan om blir en andra sanning som glider isär från den första.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "caseId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "approved"
                ],
                "properties": {
                  "approved": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Stämpeln satt eller återtagen"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contact": {
      "post": {
        "operationId": "submitContactMessage",
        "summary": "Skicka ett meddelande från kontaktformuläret. Får ske utan inloggning; status, avsändarens konto och handläggare sätts av servern, aldrig av klienten.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Mottaget",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "submitted"
                  ],
                  "properties": {
                    "submitted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listContactMessages",
        "summary": "Hela inkorgen, nyast först. Läsbar bara för driftadministratörer – radskyddet ger andra noll rader.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Inkorgen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "messages"
                  ],
                  "properties": {
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contact/admin-status": {
      "get": {
        "operationId": "getContactAdminStatus",
        "summary": "Säger om den inloggade är driftadministratör. Gränssnittsbeslut, inte behörighetsgräns – den håller i databasen.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Administratörsstatus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "isAdmin"
                  ],
                  "properties": {
                    "isAdmin": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/contact/{id}/status": {
      "post": {
        "operationId": "setContactStatus",
        "summary": "Handläggning: sätter status och valfri intern anteckning. Handläggaren sätts av servern. Endast driftadministratörer.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Uppdaterat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "updated"
                  ],
                  "properties": {
                    "updated": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/members": {
      "get": {
        "operationId": "listCaseMembers",
        "summary": "Ärendets deltagare. list_case_members prövar has_case_access - den som inte tillhör ärendet får noll rader.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Deltagarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "members"
                  ],
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/invitations": {
      "get": {
        "operationId": "listCaseInvitations",
        "summary": "Ärendets inbjudningar, nyast först. Läsbar för ärendets medlemmar via radskyddet.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Inbjudningarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitations"
                  ],
                  "properties": {
                    "invitations": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "inviteToCase",
        "summary": "Bjud in en adress till ärendet. Kräver owner/reconstructor/trustee (prövas i databasen). 'owner'/'creditor' delas inte ut per mejl.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Inbjudan skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitationId"
                  ],
                  "properties": {
                    "invitationId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/{invitationId}": {
      "get": {
        "operationId": "peekCaseInvitation",
        "summary": "Vad den inbjudna får se innan accept - bolagsnamn, roll och vem som bjöd in. Bara om den inloggades adress matchar; annars null (neutral tystnad).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Förhandsvisningen (eller null)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "invitation"
                  ],
                  "properties": {
                    "invitation": {
                      "type": [
                        "object",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/{invitationId}/revoke": {
      "post": {
        "operationId": "revokeCaseInvitation",
        "summary": "Återkalla en öppen inbjudan. Samma behörighet som att bjuda in.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Återkallad"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/invitations/{invitationId}/accept": {
      "post": {
        "operationId": "acceptCaseInvitation",
        "summary": "Acceptera en inbjudan. Adressen avgör: fel adress, återkallad, använd eller utgången ger 409. Returnerar ärendets id.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Accepterad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "caseId"
                  ],
                  "properties": {
                    "caseId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/notes": {
      "get": {
        "operationId": "listCaseNotes",
        "summary": "Interna anteckningar i ärendet. Synliga endast för författaren (radskyddet) - inte för bolaget eller andra deltagare.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Anteckningarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "notes"
                  ],
                  "properties": {
                    "notes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "addCaseNote",
        "summary": "Lägg en intern anteckning. Författaren sätts av servern; kräver aktivt deltagande i ärendet.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Anteckning skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "noteId"
                  ],
                  "properties": {
                    "noteId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/notes/{noteId}": {
      "delete": {
        "operationId": "removeCaseNote",
        "summary": "Ta bort en egen anteckning. Idempotent; radskyddet släpper bara författarens egen rad.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Borttagen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/time-entries": {
      "get": {
        "operationId": "listTimeEntries",
        "summary": "Nedlagd tid i ärendet. Var och en ser bara sina egna poster (radskyddet).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Tidsposterna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entries"
                  ],
                  "properties": {
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "logTimeEntry",
        "summary": "Registrera nedlagd tid (minuter 1-1440, valfri anteckning och datum). Personen sätts av servern; kräver aktivt deltagande.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Tidspost skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "entryId"
                  ],
                  "properties": {
                    "entryId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/time-entries/{entryId}": {
      "delete": {
        "operationId": "removeTimeEntry",
        "summary": "Ta bort en egen tidspost. Idempotent; radskyddet släpper bara den egna posten.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Borttagen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "deleted"
                  ],
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "Dina API-nycklar: prefix och metadata, aldrig hemligheten. Bara den egna ägarens (radskyddet).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Nycklarna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Skapa en API-nyckel (create_api_key: genereras och hashas i databasen). Hemligheten returneras EN gång och lagras aldrig.",
        "x-status": "beta",
        "responses": {
          "201": {
            "description": "Nyckeln skapad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "record",
                    "secret"
                  ],
                  "properties": {
                    "record": {
                      "type": "object"
                    },
                    "secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{keyId}/revoke": {
      "post": {
        "operationId": "revokeApiKey",
        "summary": "Återkalla en nyckel. Idempotent; en återkallad nyckel förblir återkallad. Bara den egna nyckeln.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Återkallad",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "revoked"
                  ],
                  "properties": {
                    "revoked": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/sessions": {
      "get": {
        "operationId": "listAdvisorSessions",
        "summary": "Rådgivarsamtalen i ärendet (journal). Läses av alla med ärendeåtkomst; observatörer läser men skriver inte.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Samtalen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "sessions"
                  ],
                  "properties": {
                    "sessions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "saveAdvisorSession",
        "summary": "Spara ett samtal (upsert på samtalets id). Kräver skrivrätt i ärendet (can_write_case).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "saved",
                    "sessionId"
                  ],
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    },
                    "sessionId": {
                      "type": "string",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/secrets": {
      "get": {
        "operationId": "listOpsSecrets",
        "summary": "Nyckelvalvet: leverantör, fyra sista tecken och bytesdatum. ALDRIG hemligheten. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Hemligheterna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "secrets": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setOpsSecret",
        "summary": "Spara en integrationshemlighet i valvet. Endast drift; värdet kan aldrig läsas tillbaka.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/secrets/{provider}": {
      "delete": {
        "operationId": "deleteOpsSecret",
        "summary": "Ta bort en integrationshemlighet. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Borttaget",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/professional-terms": {
      "get": {
        "operationId": "listProfessionalTerms",
        "summary": "Rådgivarnas avtalsvillkor och avgifter. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Villkoren",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "terms": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/professionals/{professionalId}/referral-fee": {
      "post": {
        "operationId": "setReferralFee",
        "summary": "Sätt en rådgivares förmedlingsavgift (kr, eller null = faktureras ej). Gäller framåt. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/billing-plans": {
      "get": {
        "operationId": "listBillingPlans",
        "summary": "Prisplanerna per byrå (per-ärende/abonnemang/användning/licens). Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Planerna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setBillingPlan",
        "summary": "Sätt en byrås prisplan. Parametrar, inga hårdkodade belopp. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/professionals/{professionalId}/billing-hold": {
      "post": {
        "operationId": "setBillingHold",
        "summary": "Kreditspärren: prövas vid nästa avgiftsbelagda köp, rör aldrig pågående arbete. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/professionals/{professionalId}/billing-shadow": {
      "post": {
        "operationId": "setBillingShadow",
        "summary": "Skuggläget per byrå: avgifter registreras och visas men faktureras aldrig. Gäller framåt. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/company-plan": {
      "post": {
        "operationId": "setCompanyPlan",
        "summary": "Företagsabonnemangets månadsavgift (exkl. moms) som driftparameter. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/retention-policy": {
      "get": {
        "operationId": "getRetentionPolicy",
        "summary": "Gallringspolicyn: standarden i koden med driftens override ovanpå. Läsbar utan admin - transparens.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Policyn",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "policy": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "setRetentionPolicy",
        "summary": "Sätt gallringens override per kategori. Att slå på skarp gallring är ett medvetet beslut. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Sparat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "saved": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/north-star": {
      "get": {
        "operationId": "getNorthStarCounts",
        "summary": "North Star och churn: återhämtade, i hälsoläge, dålig churn, öppna ärenden. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Måtten",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recovered": {
                      "type": "integer"
                    },
                    "inHealth": {
                      "type": "integer"
                    },
                    "badChurn": {
                      "type": "integer"
                    },
                    "openCases": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/mine": {
      "get": {
        "operationId": "getMyBilling",
        "summary": "Den inloggades kontostatus. Skapas lat vid första anropet - gratisveckan börjar när kontot används.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Kontostatus",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/invoices": {
      "get": {
        "operationId": "listMyInvoices",
        "summary": "Kundens egna fakturor och kvitton, nyast först (radskyddet ger bara de egna).",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Fakturorna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "invoices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/company-plan": {
      "get": {
        "operationId": "getCompanyPlan",
        "summary": "Företagsplanens pris (exkl. moms). Driftparameter, publikt läsbar. Skrivs via /ops/company-plan.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Priset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "monthlyExVatSek": {
                      "type": "integer"
                    },
                    "businessExVatSek": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    },
                    "enterpriseExVatSek": {
                      "type": [
                        "integer",
                        "null"
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/customers": {
      "get": {
        "operationId": "listBillingCustomers",
        "summary": "Driftens kundöversikt (profil, kontostatus, fakturor). Radskyddet ger en icke-admin bara de egna raderna.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Kunderna",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/accounts/{userId}/close": {
      "post": {
        "operationId": "closeBillingAccount",
        "summary": "Stäng ett konto vars faktura förfallit. Raderar ingenting - sätter closed_at. Behörighet i radskyddet.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Stängt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "closed": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/outbox": {
      "get": {
        "operationId": "listBillingOutbox",
        "summary": "Utkorgen (senaste 100), för drift: ett mejl som inte gått fram ska synas för en människa.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Utkorgen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/billing/outbox/{emailId}/retry": {
      "post": {
        "operationId": "retryOutboundEmail",
        "summary": "Köa om ett misslyckat utskick. Endast drift; skickade rader rörs aldrig.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Köat",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "queued": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/tasks/seed": {
      "post": {
        "operationId": "seedCaseTasks",
        "summary": "Så rekommendationernas uppgifter i ärendet. Idempotent - on conflict do nothing mot (case_id, label), så samtidiga anrop ger en lista.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Antal sådda etiketter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "seeded": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/ops/audit": {
      "get": {
        "operationId": "listOpsAuditTrail",
        "summary": "Driftens revisionsspår: vem gjorde vad på plattformsnivå (nyckelvalv, prisplaner, kreditspärr, gallring, kontostängning). Spåret bär aldrig hemligheten som ändrades. Endast drift.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "Spåret",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "document.created": {
      "post": {
        "operationId": "whDocumentCreated",
        "summary": "Ett dokument laddades upp",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "document.review_changed": {
      "post": {
        "operationId": "whDocumentReview",
        "summary": "Granskningsstatus ändrades (för granskning/godkänt/utkast)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "case.status_changed": {
      "post": {
        "operationId": "whCaseStatus",
        "summary": "Ärendet ändrade status eller avslutades",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "decision.recorded": {
      "post": {
        "operationId": "whDecisionRecorded",
        "summary": "Ett beslut protokollfördes med premiss",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "decision.reconsidered": {
      "post": {
        "operationId": "whDecisionReconsidered",
        "summary": "Ett beslut omprövades",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "report.generated": {
      "post": {
        "operationId": "whReportGenerated",
        "summary": "En rapport färdigställdes",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "task.completed": {
      "post": {
        "operationId": "whTaskCompleted",
        "summary": "En uppgift bockades av",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API-nyckel per organisation (Authorization: Bearer clr_...), hanterad i driftens valv. Nyckeln känns igen på prefixet clr_. Samma radskydd som appen: API:t ser det kontots roller ser."
      },
      "session": {
        "type": "http",
        "scheme": "bearer",
        "description": "Sessionstoken från POST /auth/login (Authorization: Bearer ...). Används av appen; en integration använder API-nyckel."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "unauthorized",
              "forbidden",
              "not_found",
              "validation_failed",
              "payment_required",
              "conflict",
              "rate_limited",
              "internal"
            ]
          },
          "message": {
            "type": "string",
            "description": "Läsbart, på svenska. Ärligt: rollfel är information, inte teknikfel."
          }
        }
      },
      "Case": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgNumber": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "recommendationType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bankruptcy",
              "reconstruction",
              "stabilize",
              null
            ]
          },
          "totalDebt": {
            "type": [
              "string",
              "null"
            ]
          },
          "quickLiquidationValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "closedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "exitReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "healthMode": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JournalEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "action": {
            "type": "string"
          },
          "objectType": {
            "type": "string"
          },
          "objectId": {
            "type": [
              "string",
              "null"
            ]
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fileName": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "reviewStatus": {
            "type": "string",
            "enum": [
              "draft",
              "in_review",
              "approved"
            ]
          },
          "reviewedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Decision": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "rationale": {
            "type": "string"
          },
          "premise": {
            "type": [
              "string",
              "null"
            ],
            "description": "Omprövningsvillkoret i ord: det som gällde när beslutet togs. Fritext, skriven av en människa."
          },
          "decidedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "reconsidered"
            ]
          },
          "reconsideredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "watch": {
            "type": [
              "object",
              "null"
            ],
            "description": "Den del av premissen som går att räkna om. Null = premissen bevakas inte, och det sägs rakt ut i gränssnittet i stället för att antydas.",
            "properties": {
              "signal": {
                "type": "string",
                "enum": [
                  "loner",
                  "skatt",
                  "skuldtackning",
                  "passerade_frister",
                  "hyra",
                  "leverantorer",
                  "skuld"
                ]
              },
              "comparator": {
                "type": "string",
                "enum": [
                  "minst",
                  "hogst",
                  "sant",
                  "falskt"
                ]
              },
              "threshold": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Tröskeln för minst/högst. Null för de booleska villkoren."
              }
            }
          },
          "watchAckObservation": {
            "type": [
              "string",
              "null"
            ],
            "description": "Observationen som kvitterades med \"beslutet står fast\". Kvitteringen är knuten till observationen, inte till beslutet: frågan kommer tillbaka när läget ändras igen."
          },
          "watchAckAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "doneAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "assignedTo": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ShareLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "type": "string",
            "enum": [
              "overview",
              "full"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "accessCount": {
            "type": "integer",
            "description": "Varje öppning loggas."
          }
        }
      },
      "SharedCaseView": {
        "type": "object",
        "description": "Exakt samma datamodell som den mänskliga live-vyn. Data - aldrig bedömningar.",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "overview",
              "full"
            ]
          },
          "orgNumber": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "recommendationTitle": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalDebt": {
            "type": [
              "string",
              "null"
            ]
          },
          "quickLiquidationValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "documents": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "GoogleFacts": {
        "type": "object",
        "description": "Uppgifter ur Google Places. Recensenternas namn, bilder och länkar hämtas aldrig – vi läser omdömet om bolaget, inte om människan som skrev det. Innehållet får cachas i högst 30 dagar; placeId utan tidsgräns.",
        "properties": {
          "placeId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Bolagets webbadress. Detta är uppgiften som gör att webbplatsläsaren kan köra utan att fråga användaren."
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "oppet",
              "tillfalligt-stangt",
              "permanent-stangt",
              "okant"
            ],
[...]
