{
  "openapi": "3.1.0",
  "info": {
    "title": "CLEARANCE Öppna API",
    "version": "1.0.0-beta",
    "description": "API-first: allt som går att göra i gränssnittet ska gå att göra via API. Kontraktet bygger på de fyra objekten (samtal, beslut, dokument, uppgifter) plus ärendet. INGEN MILJÖ ÄR DRIFTSATT ÄNNU: serveradresserna nedan svarar inte, och kontraktet är att läsa som en beställning. Statusmärkning per operation: `live` är implementerad och verifierad mot databasen, `beta` är kontrakt-först. API:t levererar strukturerad, spårbar ärendedata - aldrig automatiska bedömningar: mottagarens system drar sina egna slutsatser. Bakåtkompatibilitet inom v1: fält läggs till, aldrig bort.",
    "contact": {
      "name": "Landvex AB",
      "url": "https://clearance.se/kontakt"
    }
  },
  "servers": [
    {
      "url": "https://api.clearance.se/v1",
      "description": "Produktion (ej driftsatt)"
    },
    {
      "url": "https://sandbox.api.clearance.se/v1",
      "description": "Sandbox - demoadapterns datamodell (ej driftsatt)"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "session": []
    }
  ],
  "paths": {
    "/cases": {
      "get": {
        "operationId": "listCases",
        "summary": "Lista ärenden kontot har åtkomst till",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCase",
        "summary": "Skapa ärende (motsvarar nulägesanalysens registrering)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}": {
      "parameters": [
        {
          "name": "caseId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCase",
        "summary": "Hämta ärendets nuläge",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateCase",
        "summary": "Uppdatera registrerade uppgifter",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/close": {
      "post": {
        "operationId": "closeCase",
        "summary": "Avsluta krisfasen med orsak (stabiliserad, rekonstruktion genomförd, konkurs, likvidation, annat). Ingenting raderas - akten består.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/journal": {
      "get": {
        "operationId": "listJournal",
        "summary": "Arbetsloggen: append-only-journalen, filtrerbar på objekttyp och tidsintervall, exporterbar",
        "x-status": "live",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "objectType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "description": "LIVE: autentiseras med API-nyckel (Authorization: Bearer clr_...). Nyckeln ser exakt det ägarens konto ser. Okänd eller återkallad nyckel och ärenden utan åtkomst får samma tystnad. Journalen levereras som händelserader - utan before/after-ögonblicksbilder och aldrig automatiska bedömningar."
      }
    },
    "/cases/{caseId}/documents": {
      "get": {
        "operationId": "listDocuments",
        "summary": "Dokumenten med granskningsstatus",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "uploadDocument",
        "summary": "Ladda upp dokument till akten",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documents/{documentId}/review": {
      "post": {
        "operationId": "setDocumentReview",
        "summary": "Granskningsövergång: request/approve/reset. Godkännande kräver rådgivarroll - prövas i backend.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/decisions": {
      "get": {
        "operationId": "listDecisions",
        "summary": "Beslutsminnet: protokollförda beslut med premiss",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "recordDecision",
        "summary": "Protokollför beslut med premiss och mätbart villkor",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/decisions/{decisionId}/reconsider": {
      "post": {
        "operationId": "reconsiderDecision",
        "summary": "Ompröva - aldrig ändra: en stämplad markering ovanpå, originalet står kvar",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "Uppgifterna i handlingsplanen",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateTasks",
        "summary": "Bocka av eller delegera uppgifter",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/report": {
      "get": {
        "operationId": "getReport",
        "summary": "Rapporten ur samma datamodell, som JSON eller PDF",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "json",
                "pdf"
              ]
            }
          }
        ]
      }
    },
    "/cases/{caseId}/share-links": {
      "get": {
        "operationId": "listShareLinks",
        "summary": "Ärendets live-länkar med åtkomsträkning",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createShareLink",
        "summary": "Skapa live-länk (nivå overview/full, tidsbegränsad, återkallbar)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/share-links/{linkId}": {
      "delete": {
        "operationId": "revokeShareLink",
        "summary": "Återkalla live-länken - omedelbar verkan",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/shared/{token}": {
      "get": {
        "operationId": "getSharedCase",
        "summary": "Live-ärendelänkens maskinläsbara nuläge. Publik: skyddet är tidsgräns, återkallbarhet och åtkomstlogg. Samma tystnad för okända, utgångna och återkallade länkar.",
        "x-status": "live",
        "responses": {
          "200": {
            "description": "Ärendets nuläge, scopat",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SharedCaseView"
                }
              }
            }
          },
          "404": {
            "description": "Okänd, utgången eller återkallad länk - samma tystnad"
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/decisions/{decisionId}/acknowledge-premise": {
      "post": {
        "operationId": "acknowledgePremise",
        "summary": "Beslutet står fast trots motsagt villkor - kvitteras mot observationen och journalförs",
        "description": "Tystar inte bevakningen för gott: kvitteringen gäller den observation som angavs, så frågan kommer tillbaka när läget ändras igen. Själva utvärderingen av villkoret görs av mottagaren - API:t levererar villkoret och siffrorna, aldrig en färdig bedömning.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Logga in och få en sessionstoken",
        "description": "Sessionstoken i utbyte mot e-post och lösenord. Token visas EN gång och lagras aldrig i klartext - databasen har bara SHA-256 av den. Fel lösenord och okänd adress ger samma svar och kostar samma tid; skillnaden vore en kontolista. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Återkalla den egna sessionen",
        "description": "Återkallar sessionen bakom den token som skickas med. Återkallningen är slutgiltig - en token som en gång är död blir aldrig levande igen.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "me",
        "summary": "Vem den aktuella sessionen tillhör",
        "description": "Kontot bakom token, med namn och roll ur profilen. Läses genom radskyddet som allt annat.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "health",
        "summary": "Tjänstens status",
        "description": "Svarar utan att röra databasen. Finns för lastbalanserarens hälsokontroll, inte för integrationer. Kräver ingen autentisering.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/cases/{caseId}/payments": {
      "get": {
        "operationId": "listPayments",
        "summary": "Betalningarna i ärendet, med förfallodag",
        "description": "Sorterade på förfallodag. Ett ärende utan åtkomst ger en TOM lista, inte ett fel - samma tystnad som resten av API:t, så svaret inte går att använda för att kartlägga vilka ärenden som finns.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "Grundtrådens meddelanden i ärendet",
        "description": "Bara grundtråden (meddelanden utan tråd-id). Trådade meddelanden hämtas per tråd, och synligheten avgörs av radskyddet - inte av ett filter i API:t.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/cases/{caseId}/kbr": {
      "get": {
        "operationId": "getKbr",
        "summary": "Senaste kontrollbalansbedömningen",
        "description": "Svarar med null när ingen bedömning är gjord - det är ett giltigt svar om ärendet och inte ett fel, så 404 vore fel signal.",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/sources/google": {
      "post": {
        "operationId": "lookupCompanyAtGoogle",
        "summary": "Slår upp bolaget hos Google",
        "description": "Hämtar webbadress, besöksadress, telefon, omdömen och verksamhetsstatus ur Google Places. Ger ALDRIG organisationsnummer, styrelse, F-skatt eller momsregistrering – Places känner till platser och verksamheter, inte juridiska personer. Kräver inloggning trots att uppgifterna är offentliga: Places debiteras per anrop, och en öppen rutt är någon annans trafik på vår faktura. Svarets status skiljer på traff, ingen-traff (bolaget kunde inte matchas entydigt), ingen-kalla (ingen nyckel i driften) och fel (Google svarade inte). De fyra får inte slås ihop – ett driftfel som ser ut som ingen-traff blir ett påstående om bolaget.",
        "x-status": "beta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "companyName"
                ],
                "properties": {
                  "companyName": {
                    "type": "string",
                    "description": "Bolagets namn. Matchas exakt efter att bolagsformen skalats bort."
                  },
                  "ort": {
                    "type": "string",
                    "description": "Ort, när den är känd. Enda sättet att skilja två likadana namn åt."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Utfallet av uppslaget",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "facts"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "traff"
                          ]
                        },
                        "facts": {
                          "$ref": "#/components/schemas/GoogleFacts"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "required": [
                        "status",
                        "reason"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "ingen-traff",
                            "ingen-kalla",
                            "fel"
                          ]
                        },
                        "reason": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}/done": {
      "post": {
        "operationId": "setTaskDone",
        "summary": "Bockar av en uppgift, eller ångrar avbockningen",
        "description": "Tidpunkten sätts av servern, aldrig av anroparen: en tidsstämpel som den som bockar av får välja är inte bevis på när något gjordes. Vem och när sätts tillsammans - ett halvt svar på vem gjorde vad när är inget svar.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "done"
                ],
                "properties": {
                  "done": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uppgiften efter ändringen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/tasks/{taskId}/assign": {
      "post": {
        "operationId": "assignTask",
        "summary": "Tilldelar en uppgift, eller tar bort tilldelningen",
        "description": "userId satt till null tar bort tilldelningen. Uppgiften måste tillhöra ett ärende anroparen har tillgång till; radskyddet avgör det, inte handlern.",
        "x-status": "beta",
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "userId"
                ],
                "properties": {
                  "userId": {
                    "type": "string",
                    "format": "uuid",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uppgiften efter ändringen",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                }
              }
            }
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "document.created": {
      "post": {
        "operationId": "whDocumentCreated",
        "summary": "Ett dokument laddades upp",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "document.review_changed": {
      "post": {
        "operationId": "whDocumentReview",
        "summary": "Granskningsstatus ändrades (för granskning/godkänt/utkast)",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "case.status_changed": {
      "post": {
        "operationId": "whCaseStatus",
        "summary": "Ärendet ändrade status eller avslutades",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "decision.recorded": {
      "post": {
        "operationId": "whDecisionRecorded",
        "summary": "Ett beslut protokollfördes med premiss",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "decision.reconsidered": {
      "post": {
        "operationId": "whDecisionReconsidered",
        "summary": "Ett beslut omprövades",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "report.generated": {
      "post": {
        "operationId": "whReportGenerated",
        "summary": "En rapport färdigställdes",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "task.completed": {
      "post": {
        "operationId": "whTaskCompleted",
        "summary": "En uppgift bockades av",
        "x-status": "beta",
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Fel",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API-nyckel per organisation (Authorization: Bearer clr_...), hanterad i driftens valv. Nyckeln känns igen på prefixet clr_. Samma radskydd som appen: API:t ser det kontots roller ser."
      },
      "session": {
        "type": "http",
        "scheme": "bearer",
        "description": "Sessionstoken från POST /auth/login (Authorization: Bearer ...). Används av appen; en integration använder API-nyckel."
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "unauthorized",
              "forbidden",
              "not_found",
              "validation_failed",
              "payment_required",
              "conflict",
              "rate_limited",
              "internal"
            ]
          },
          "message": {
            "type": "string",
            "description": "Läsbart, på svenska. Ärligt: rollfel är information, inte teknikfel."
          }
        }
      },
      "Case": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "orgNumber": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "recommendationType": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "bankruptcy",
              "reconstruction",
              "stabilize",
              null
            ]
          },
          "totalDebt": {
            "type": [
              "string",
              "null"
            ]
          },
          "quickLiquidationValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "closedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "exitReason": {
            "type": [
              "string",
              "null"
            ]
          },
          "healthMode": {
            "type": "boolean"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "JournalEvent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "action": {
            "type": "string"
          },
          "objectType": {
            "type": "string"
          },
          "objectId": {
            "type": [
              "string",
              "null"
            ]
          },
          "detail": {
            "type": [
              "string",
              "null"
            ]
          },
          "occurredAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "fileName": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "reviewStatus": {
            "type": "string",
            "enum": [
              "draft",
              "in_review",
              "approved"
            ]
          },
          "reviewedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Decision": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "rationale": {
            "type": "string"
          },
          "premise": {
            "type": [
              "string",
              "null"
            ],
            "description": "Omprövningsvillkoret i ord: det som gällde när beslutet togs. Fritext, skriven av en människa."
          },
          "decidedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "reconsidered"
            ]
          },
          "reconsideredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "watch": {
            "type": [
              "object",
              "null"
            ],
            "description": "Den del av premissen som går att räkna om. Null = premissen bevakas inte, och det sägs rakt ut i gränssnittet i stället för att antydas.",
            "properties": {
              "signal": {
                "type": "string",
                "enum": [
                  "loner",
                  "skatt",
                  "skuldtackning",
                  "passerade_frister",
                  "hyra",
                  "leverantorer",
                  "skuld"
                ]
              },
              "comparator": {
                "type": "string",
                "enum": [
                  "minst",
                  "hogst",
                  "sant",
                  "falskt"
                ]
              },
              "threshold": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Tröskeln för minst/högst. Null för de booleska villkoren."
              }
            }
          },
          "watchAckObservation": {
            "type": [
              "string",
              "null"
            ],
            "description": "Observationen som kvitterades med \"beslutet står fast\". Kvitteringen är knuten till observationen, inte till beslutet: frågan kommer tillbaka när läget ändras igen."
          },
          "watchAckAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "label": {
            "type": "string"
          },
          "dueDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "doneAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "assignedTo": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "ShareLink": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "scope": {
            "type": "string",
            "enum": [
              "overview",
              "full"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "revokedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "accessCount": {
            "type": "integer",
            "description": "Varje öppning loggas."
          }
        }
      },
      "SharedCaseView": {
        "type": "object",
        "description": "Exakt samma datamodell som den mänskliga live-vyn. Data - aldrig bedömningar.",
        "properties": {
          "scope": {
            "type": "string",
            "enum": [
              "overview",
              "full"
            ]
          },
          "orgNumber": {
            "type": "string"
          },
          "companyName": {
            "type": [
              "string",
              "null"
            ]
          },
          "recommendationTitle": {
            "type": [
              "string",
              "null"
            ]
          },
          "totalDebt": {
            "type": [
              "string",
              "null"
            ]
          },
          "quickLiquidationValue": {
            "type": [
              "string",
              "null"
            ]
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "documents": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          }
        }
      },
      "GoogleFacts": {
        "type": "object",
        "description": "Uppgifter ur Google Places. Recensenternas namn, bilder och länkar hämtas aldrig – vi läser omdömet om bolaget, inte om människan som skrev det. Innehållet får cachas i högst 30 dagar; placeId utan tidsgräns.",
        "properties": {
          "placeId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true,
            "description": "Bolagets webbadress. Detta är uppgiften som gör att webbplatsläsaren kan köra utan att fråga användaren."
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "oppet",
              "tillfalligt-stangt",
              "permanent-stangt",
              "okant"
            ],
            "description": "Verksamhetsstatus hos Google. permanent-stangt på ett levande bolag är en uppgift som syns för alla som söker på bolaget och som kan behöva rättas."
          },
          "reviews": {
            "type": "object",
            "properties": {
              "rating": {
                "type": "number",
                "nullable": true
              },
              "count": {
                "type": "integer"
              },
              "excerpts": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "basis": {
            "type": "array",
            "description": "Grunden för varje fält, så att frågan var en uppgift kommer ifrån går att besvara.",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string"
                },
                "source": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  }
}
